

.app-avatar {
   width: 200px; 
  height: 200px;
  border-radius: 50%;
  border: solid #82e0aa 10px;
} 

.foo{
  background-color: #82e0aa;
  padding: 20px;
    position: absolute;
  bottom: 0;
  width: 97%;
  text-align: center;
  display: flex;
  justify-content: space-around;

}

.foto{
  text-align: center;
  margin-top: 100px;
}


.app-titulo {
  text-align: center;
}

a, .link{
  text-decoration: none;
  color: white;
}


h1{
  font-size: 20px;
  color: white; 
}

.app-titulo h4{
  font-size: 10px;
  color: white;
  text-align: center;
}

.About{
  text-align: center;
  margin-top: 200px;
}

p-about{
  text-align: center;
}

.Contact{
  text-align: center;
  margin-top: 200px;
  text-decoration: none;
}

