

.app-avatar {
   width: 200px; 
  height: 200px;
  border-radius: 50%;
  border: solid #82e0aa 10px;
} 

footer{
  background-color: #82e0aa;
  padding: 20px;
    position: absolute;
  bottom: 0;
  width: 97%;
  text-align: center;

}

.foto{
  text-align: center;
  margin-top: 100px;
}


.app-titulo{
  text-align: center;
}

.link{
  text-decoration: none;
  color: white;
}


h1{
  font-size: 20px;
  color: white; 
}

.app-titulo h4{
  font-size: 10px;
  color: white;
}